In [2]:
import os
import dapla as dp
import pandas as pd

if os.environ['CLUSTER_ID'] == "staging-bip-app":
    bucket = 'ssb-staging-dapla-felles-data-delt'
else:
    bucket = 'ssb-prod-dapla-felles-data-delt'
    
gcs_path = f"gs://{bucket}/felles/veiledning/python/eksempler/purchases"

In [ ]:
# Create pandas dataframe
data = {
    'apples': [3, 2, 0, 1],
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

# Write pandas dataframe to GCS bucket
dp.write_pandas(purchases, f"{gcs_path}/data.parquet")

In [2]:
# Read path into pandas dataframe
dp.read_pandas(gcs_path)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2