In [1]:
import os
import pyspark.pandas as ps

if os.environ['CLUSTER_ID'] == "staging-bip-app":
    bucket = 'ssb-staging-demo-stat-a-data-produkt'
else:
    bucket = 'ssb-prod-demo-stat-a-data-produkt'

gcs_path = f"gs://{bucket}/felles/smoke-tests/fruits"

In [2]:
# Check spark environment
assert spark is not None
assert '/proxy' in sc.uiWebUrl, f"spark web UI not using proxyÂ´: {sc.uiWebUrl}"

In [3]:
spark.read.parquet(gcs_path).show()

+------+-------+-----------------+
|apples|oranges|__index_level_0__|
+------+-------+-----------------+
|     3|      0|             June|
|     2|      3|           Robert|
|     0|      7|             Lily|
|     1|      2|            David|
+------+-------+-----------------+

In [4]:
ps.read_parquet(gcs_path, pandas_metadata=True)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2